body {background-color: #F0B27A;
 background-image: url(../imagenes/fondopasteleria.jpg);
 background-size: cover;
 margin: 50px;
 padding: 50px 100px;
 border: #34495E 5px dotted;
}
body{text-align: justify; font-style: italic;}
body {font-size: medium;}


header {background-color: #FDEDEC;
  border: 5px solid black;
  padding: 15px;
min-height: 15vh
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.divheader {
         display: flex;
           justify-content: space-around;
         flex-wrap: wrap;
}

nav {
       coloe: black;
       padding: 15px;
     min-height: 15vh;
   }
  nav
      {border: 3px black solid;  }
      .pastelitos {border: 2px black solid; font-size:30px;}
      .chipa{border: 2px black solid;font-size: 30px;}
      .mbeyu {border: 2px black solid;font-size: 30px;}
      .tortafrita {border: 2px black solid;font-size: 30px;}

  .divnav {display: flex;
           justify-content: space-around;
         flex-wrap: wrap; }


a:link {color: black;}
a:active {color: red;}
nav:hover {background-color: #E8DAEF ;}

 .frase {text-decoration: underline;font-family: cursive;}
.frasefinal {font-family: cursive;border: 2px black solid;}

h3 {font-family: 'Merienda', cursive;}

.ul {text-align: right;}



.ingredientes {text-decoration: underline; text-decoration-color: #117A65;}


.pasos {text-decoration: underline; text-decoration-color: #117A65;}


.tortaasadaimg {width: 25%; height:25%;
}
.tortaasada {width: 100%; height: 100%; border: solid #2E4053 3px;}
.mapa {width: 30vw; height:30vh;
}



}









.logo1 {width: 200px;height: 125px;}
.titulocentral {width: 30%; display: flex; justify-content: center;flex-wrap: wrap;text-decoration: underline;}

.redes { display: flex; justify-content: space-around;display: flex;align-items: flex-end;width: 30%; flex-wrap: wrap;}
.redes { width: 180px; }
.Presentacion {text-decoration: underline; text-decoration-color: purple; font-style: oblique;}

.iconodewhats {
  width: 80px;
  position: fixed;
  bottom: 10px;
  right: 15px;
}




.sectionprimero {

       border: 1px black solid;
       padding: 15px; display: flex;
       justify-content: space-around;
       flex-wrap: wrap;

}
.introduccion {width: 70%;}
.recetas {margin: 50px;
    padding: 50px 100px;
    border: 2px solid black;

}
.conteiner {width: 100%;height: 50%; padding-right: 20%;}
.card {background-color: #E9967A; border: #2E4053 5px solid; }
.card-img-top {padding-bottom: 10%;
               padding-top: 10%;}

.card-img-top:hover {width: 700px;}
.btn:hover {color:blue;}


h4:hover {background-color:#FFA07A;  }
h4 {width: 30%;
   height: 50%;}


footer {
  display: flex;
  justify-content: center;
  justify-content:space-around;
  border: 2px black solid;
  flex-wrap: wrap;
}
footer:hover{background-color:#FFA07A; }
.redes{
        width: 30%;
}
.mapabarrio {
             width: 30%; width: 100px; height: 100px;
           }
           .mapabarrio:hover {width: 30vw; height: 30vh;}
.Presentacion { width: 30%; display: flex;align-items: flex-end;
}


}
@media (max-width:700px) {.mapa {display:none;}}
@media (min-width:700px) {.corrientes {display: none;}
