body {background-color: #F0B27A;
 background-image: url(../imagenes/fondopasteleria.jpg);
 background-size: cover;
}
body{text-align: justify; font-style: italic;}
body {font-size: medium;}

nav {background-color: #B03A2E;
       coloe: black;
       padding: 15px;
     min-height: 15vh;
   }
  nav
      {border: 3px black solid;  }
      .pastelitos {border: 2px black solid; font-size:30px;}
      .chipa{border: 2px black solid;font-size: 30px;}
      .mbeyu {border: 2px black solid;font-size: 30px;}
      .tortafrita {border: 2px black solid;font-size: 30px;}

  .divnav {display: flex;
           justify-content: space-around;
         flex-wrap: wrap; }


a:link {color: black;}
a:active {color: red;}
nav:hover {background-color: #FFA07A;}

 .frase {text-decoration: underline;font-family: cursive;}
.frasefinal {font-family: cursive;border: 2px black solid;}

h3 {font-family: 'Merienda', cursive;}

.ul {text-align: right;}



.ingredientes {text-decoration: underline; text-decoration-color: #117A65;}


.pasos {text-decoration: underline; text-decoration-color: #117A65;}


.tortaasadaimg {width: 25%; height:25%;
}
.tortaasada {width: 100%; height: 100%;}
.mapa {width: 30vw; height:30vh;
}

@media (max-width:700px) {.mapa {display:none;}}
@media (min-width:700px) {.corrientes {display: none;}

}

header {background-color: #B03A2E;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.iconodewhats {width: 100px;
position: fixed;
bottom: 10px;
right: 15px;
height: 50px;

}
.iconodewhats:hover {width: 200px; }
@media (max-width: 700px) {
 .iconodewhats {display:none;}
}




.logo1 {width: 200px;height: 125px;}
.titulocentral {width: 30%; display: flex; justify-content: center;flex-wrap: wrap;text-decoration: underline;}

.redes { display: flex; justify-content: space-around;display: flex;align-items: flex-end;width: 30%; flex-wrap: wrap;}
.redes { width: 180px; }
.Presentacion {text-decoration: underline; text-decoration-color: purple; font-style: oblique;}






section {

       border: 1px black solid;
       padding: 15px; display: flex;
       justify-content: space-around;
       flex-wrap: wrap;

}
.introduccion {width: 70%;}


h4:hover {background-color:#FFA07A;  }
h4 {width: 30%;
   height: 50%;}


footer {
  display: flex;
  justify-content: center;
  justify-content:space-around;
  border: 2px black solid;
  flex-wrap: wrap;
}
footer:hover{background-color:#FFA07A; }
.redes{
        width: 30%;
}
.mapabarrio {
             width: 30%; width: 100px; height: 100px;
           }
           .mapabarrio:hover {width: 30vw; height: 30vh;}
.Presentacion { width: 30%; display: flex;align-items: flex-end;
}
